@model TestITM.Models.SwitchViewModel

@{

    ViewBag.Title = "Главная";
}

<div class="row">
    <div class="col-md-4">
        <h2>Управление комутатором</h2>
        <div>
            @Html.LabelFor(model => model.Name, new {@class = "control-label"})
            @Html.TextBoxFor(model => model.Name, new {@class = "form-control"})
            @Html.HiddenFor(model => model.Id)
            <input id="btnSave" type="submit" name="Save" value="Включить/Выключить" />
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $("#Name").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: '@Url.Action("GetSwitch", "Home")',
                    datatype: "json",
                    data: {
                        term: request.term
                    },
                    success: function(data) {
                        response($.map(data, function(val, item) {
                            return {
                                label: val.Name,
                                value: val.Name,
                                Id: val.Id
                            }
                        }));
                    }
                });
            },
            select: function (event, ui) {
                $("#Id").val(ui.item.Id);
            }
        });
    });


    $('#btnSave').click(function () {
        $.ajax({
            url: "@(Url.Action("Switch", "Home"))",
            type: "POST",
            data: { id: $("#Id").val() },
            cache: false,
            async: true,
            success: function (data) {
                alert(data.result);
            }
        });
    });

</script>