@using TestITM.Helper
@model TestITM.Models.ReportViewModel

@{
    ViewBag.Title = "title";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Отчет по коммутаторам №3</h2>

<p>
    <div>
        @using (Ajax.BeginForm(new AjaxOptions { UpdateTargetId = "thetable" }))
        {
            <span>C</span>
            @Html.TextBoxFor(t => t.SearchViewModel.From, new { @class = "datefield", type = "datetime" })
            <span>По</span>
            @Html.TextBoxFor(t => t.SearchViewModel.To, new { @class = "datefield", type = "datetime" })
            <input type="submit" name="name" value="Выполнить" />
        }
    </div>
</p>

<h5>Cписок всех коммутаторов </h5>
<div>
@{
    foreach (var d in Model.StausViewModels)
    {
        <div class="grid-5-12 left clear">
            @Html.DisplayFor(t => d.SwitchName)
            @Html.DisplayFor(t => d.DateTime)
            @Html.DisplayFor(t => d.ActionSwitchStr)
        </div>
    }
}
</div>