@using TestITM.Helper
@model TestITM.Models.ReportViewModel

@{
    ViewBag.Title = "title";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Отчет по коммутаторам №3</h2>

<p>
    <div>
        @using (Ajax.BeginForm(new AjaxOptions { UpdateTargetId = "thetable" }))
        {
            <span>C</span>
            @Html.TextBoxFor(t => t.SearchViewModel.From, new { @class = "datefield", type = "datetime" })
            <span>По</span>
            @Html.TextBoxFor(t => t.SearchViewModel.To, new { @class = "datefield", type = "datetime" })
            <input type="submit" name="name" value="Выполнить" />
        }
    </div>
</p>

<h5>Cписок всех коммутаторов в состоянии flickering</h5>
<div>
@{
    <div class="grid-5-12 left clear">
        <table class="table">
            <thead>
                <tr>
                    <th>Наименование коммутатора</th>
                    <th>Минимальное время 10 переключений</th>
                    <th>flickering</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var d in Model.StausViewModels.OrderBy(t => t.SwitchName))
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(t => d.SwitchName)
                        </td>
                        <td>
                            @Html.DisplayFor(t => d.WorkTime)
                        </td>
                        <td>
                            @Html.CheckBoxFor(t => d.IsFlickering, new { @disabled = "true"} )
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
</div>